<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Drink Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Starbucks Drink Recommendation System by Nihith</h1>
    </header>
    <div class="content">
        <h3>Select Your Favorite Drinks:</h3>
        <form action="/recommend" method="POST">
            <div class="sections">
                <div class="section">
                    <img src="{{ url_for('static', filename='images/hot_coffees.jpg') }}" alt="Hot Coffees"><br>
                    <h4>Hot Coffees</h4><br>
                    <label><input type="checkbox" name="selected_drinks" value="Americano"> Americano</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Blonde Vanilla Latte"> Blonde Vanilla Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Caffe Latte"> Caffe Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Caffe Mocha"> Caffe Mocha</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Cappuccino"> Cappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Caramel Macchiato"> Caramel Macchiato</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Cinnamon Dolce Latte"> Cinnamon Dolce Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Dark Chocolate Mocha Reserve"> Dark Chocolate Mocha Reserve</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Drip Brew Coffee"> Drip Brew Coffee</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Espresso"> Espresso</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Espresso Con Panna"> Espresso Con Panna</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Espresso Macchiato"> Espresso Macchiato</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Flat White"> Flat White</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Hazelnut Bianco Latte Reserve"> Hazelnut Bianco Latte Reserve</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Honey Almondmilk Flat White"> Honey Almondmilk Flat White</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Latte Reserve"> Latte Reserve</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="White Chocolate Mocha"> White Chocolate Mocha</label><br>
                </div>
                
                <div class="section">
                    <img src="{{ url_for('static', filename='images/hot_teas.jpg') }}" alt="Hot Teas"><br>
                    <h4>Hot Teas</h4><br>
                    <label><input type="checkbox" name="selected_drinks" value="Chai Tea"> Chai Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Chai Tea Latte"> Chai Tea Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Earl Grey Tea"> Earl Grey Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Emperors Cloud & Mist"> Emperors Cloud & Mist</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="English Breakfast Tea"> English Breakfast Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="English Tea Latte"> English Tea Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Honey Citrus Mint Tea"> Honey Citrus Mint Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Jade Citrus Mint Tea"> Jade Citrus Mint Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="London Fog Tea Latte"> London Fog Tea Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Mango Black Tea"> Mango Black Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Matcha Tea Latte"> Matcha Tea Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Mint Majesty Tea"> Mint Majesty Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Peach Tranquility Tea"> Peach Tranquility Tea</label><br>
                </div>
                
                <div class="section">
                    <img src="{{ url_for('static', filename='images/hot_drinks.jpg') }}" alt="Hot Drinks"><br>
                    <h4>Hot Drinks</h4><br>
                    <label><input type="checkbox" name="selected_drinks" value="Caramel Apple Spice"> Caramel Apple Spice</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Hot Chocolate"> Hot Chocolate</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Steamed Apple Juice"> Steamed Apple Juice</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Steamed Milk"> Steamed Milk</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Vanilla Creme"> Vanilla Creme</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="White Hot Chocolate"> White Hot Chocolate</label><br>
                </div>
                
                <div class="section">
                    <img src="{{ url_for('static', filename='images/frappuccinos.jpg') }}" alt="Frappuccinos"><br>
                    <h4>Frappuccinos</h4><br>
                    <label><input type="checkbox" name="selected_drinks" value="Caffe Vanilla Frappuccino"> Caffe Vanilla Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Caramel Frappuccino"> Caramel Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Caramel Ribbon Crunch Creme Frappuccino"> Caramel Ribbon Crunch Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Caramel Ribbon Crunch Frappuccino"> Caramel Ribbon Crunch Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Chai Creme Frappuccino"> Chai Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Chocolate Cookie Crumble Creme Frappuccino"> Chocolate Cookie Crumble Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Chocolate Java Mint Frappuccino"> Chocolate Java Mint Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Chocolate Mint Creme Frappuccino"> Chocolate Mint Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Coffee Frappuccino"> Coffee Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Double Chocolaty Chip Creme Frappuccino"> Double Chocolaty Chip Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Espresso Frappuccino"> Espresso Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Java Chip Frappuccino"> Java Chip Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Matcha Creme Frappuccino"> Matcha Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Mocha Cookie Crumble Frappuccino"> Mocha Cookie Crumble Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Mocha Frappuccino"> Mocha Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Strawberry Creme Frappuccino"> Strawberry Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Vanilla Bean Creme Frappuccino"> Vanilla Bean Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="White Chocolate Creme Frappuccino"> White Chocolate Creme Frappuccino</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="White Chocolate Mocha Frappuccino"> White Chocolate Mocha Frappuccino</label><br>
           
                </div>
                
                <div class="section">
                    <img src="{{ url_for('static', filename='images/cold_coffees.jpg') }}" alt="Cold Coffees"><br>
                    <h4>Cold Coffees</h4><br>
                    <label><input type="checkbox" name="selected_drinks" value="Chocolate Cream Cold Brew"> Chocolate Cream Cold Brew</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Cinnamon Caramel Cream Cold Brew"> Cinnamon Caramel Cream Cold Brew</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Cinnamon Caramel Cream Nitro Cold Brew"> Cinnamon Caramel Cream Nitro Cold Brew</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Cold Brew"> Cold Brew</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Cold Brew Coffee with Milk"> Cold Brew Coffee with Milk</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Americano"> Iced Americano</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Blonde Vanilla Latte"> Iced Blonde Vanilla Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Brown Sugar Oatmilk Shaken Espresso"> Iced Brown Sugar Oatmilk Shaken Espresso</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Caffe Latte"> Iced Caffe Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Chai Tea Latte"> Iced Chai Tea Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Chocolate Almondmilk Shaken Espresso"> Iced Chocolate Almondmilk Shaken Espresso</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Cinnamon Dolce Latte"> Iced Cinnamon Dolce Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Coffee"> Iced Coffee</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Coffee with Milk"> Iced Coffee with Milk</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Espresso"> Iced Espresso</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Flat White"> Iced Flat White</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Hazelnut Bianco Latte Reserve"> Iced Hazelnut Bianco Latte Reserve</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Honey Almondmilk Flat White"> Iced Honey Almondmilk Flat White</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Latte Reserve"> Iced Latte Reserve</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Shaken Espresso"> Iced Shaken Espresso</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Toasted Vanilla Oatmilk Shaken Espresso"> Iced Toasted Vanilla Oatmilk Shaken Espresso</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Nitro Cold Brew"> Nitro Cold Brew</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Salted Caramel Cream Cold Brew"> Salted Caramel Cream Cold Brew</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Vanilla Sweet Cream Cold Brew"> Vanilla Sweet Cream Cold Brew</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Vanilla Sweet Cream Nitro Cold Brew"> Vanilla Sweet Cream Nitro Cold Brew</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="White Chocolate Macadamia Cream Cold Brew"> White Chocolate Macadamia Cream Cold Brew</label><br>
                </div>
                
                <div class="section">
                    <img src="{{ url_for('static', filename='images/iced_teas.jpg') }}" alt="Iced Teas and Lemonade"><br>
                    <h4>Iced Teas and Lemonade</h4><br>
                    <label><input type="checkbox" name="selected_drinks" value="Lemonade"> Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Black Tea"> Iced Black Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Black Tea Lemonade"> Iced Black Tea Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Green Tea"> Iced Green Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Green Tea Lemonade"> Iced Green Tea Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced London Fog Tea Latte"> Iced London Fog Tea Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Matcha Lemonade"> Iced Matcha Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Matcha Tea Latte"> Iced Matcha Tea Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Passion Tango Tea"> Iced Passion Tango Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Passion Tango Tea Lemonade"> Iced Passion Tango Tea Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Peach Green Tea"> Iced Peach Green Tea</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Peach Green Tea Lemonade"> Iced Peach Green Tea Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Iced Royal English Breakfast Tea Latte"> Iced Royal English Breakfast Tea Latte</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Sparkling Unsweetened Peach Green Tea"> Sparkling Unsweetened Peach Green Tea</label><br>
                </div>
                
                <div class="section">
                    <img src="{{ url_for('static', filename='images/refreshers.jpg') }}" alt="Starbucks Refreshers® Beverages"><br>
                    <h4>Starbucks Refreshers® Beverages</h4><br>
                    <label><input type="checkbox" name="selected_drinks" value="Blended Strawberry Lemonade"> Blended Strawberry Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Dragon Drink Refreshers"> Dragon Drink Refreshers</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Frozen Mango Dragonfruit Lemonade"> Frozen Mango Dragonfruit Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Frozen Pineapple Passionfruit Lemonade"> Frozen Pineapple Passionfruit Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Frozen Strawberry Açaí Lemonade"> Frozen Strawberry Açaí Lemonade</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Mango Dragonfruit Lemonade Refreshers"> Mango Dragonfruit Lemonade Refreshers</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Mango Dragonfruit Refreshers"> Mango Dragonfruit Refreshers</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Paradise Drink"> Paradise Drink</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Pineapple Passionfruit"> Pineapple Passionfruit</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Pink Drink"> Pink Drink</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Strawberry Açaí Lemonade Refreshers"> Strawberry Açaí Lemonade Refreshers</label><br>
                    <label><input type="checkbox" name="selected_drinks" value="Strawberry Açaí Refreshers"> Strawberry Açaí Refreshers</label><br>
                </div>
            </div>
            
            <h3>I am Craving </h3>
            <div class="form-group">
                <label><input type="checkbox" name="include_all"> Everything</label><br>
                <label><input type="checkbox" name="include_coffee"> Only Coffee</label><br>
                <label><input type="checkbox" name="include_tea"> Only Tea</label><br>
                <label><input type="checkbox" name="include_neither"> Neither Coffee Nor Tea</label><br>
                <label><input type="checkbox" name="include_hot"> Something Hot to sip</label><br>
                <label><input type="checkbox" name="include_cold"> Some Cold Drink to chill</label><br>
                <label><input type="checkbox" name="include_frozen"> Something Frozen</label><br>
            </div>
            <input type="submit" value="Get Recommendations">
        </form>
        <div class="recommendations" id="recommendations">
            <!-- Recommendations will be displayed here -->
        </div>
    </div>
</body>
</html>
